.navbar-default{
    background-color: darkblue;
}

.navbar-brand{
    text-decoration: none;
    color: white;
    font-size: 30px;
}

.navbar-header{
    text-align: center;
}

.navbar-brand_2{
    text-decoration: none;
    color: white;
    font-size: 16px;
    text-align: right;
}

.jumbotron{
    margin: 20px;
}

fieldset{
    background-color: azure;
}

input[type="submit"]:hover{
    cursor: pointer;
    color: white;
    background-color: navy;
}